<div class="container-form">
    <h1>Add a new guitar</h1>
    <%= simple_form_for @guitar do |f| %>
        <%= f.input :brand %>
        <%= f.input :model %>    
        <%= f.input :string_number %>
        <%= f.input :unique_characteristics %>
        <%= f.input :weight %>
        <%= f.button :submit, 'Add guitar body details', class: 'button-custom' %> 
    <% end %>
</div>
