<h1>Add a new guitar</h1>
<%= simple_form_for @guitar do |f| %>
    <%= f.input :brand %>
    <%= f.input :model %>    
    <%= f.input :weight %>
    <%= f.input :string_number %>
    <%= f.input :unique_characteristics %>
    <%= f.button :submit, 'Add neck profile', class: 'button-custom' %> 
<% end %>


